

.detalis{
    display: grid;
    grid-template-columns: 55% auto ;
    gap: 60px;
    padding: 10px 0px;

}

.show{
    display: grid;
    grid-template-columns: 20% 1fr ;
    gap: 40px;

}

.data{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.the-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.the-group > div {
    width: 80px;
    height: 80px;
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    position: relative;
    cursor: pointer;
    
}
.the-group > div::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.194);
    z-index: 55;
    opacity: 0;
    transition: 0.4s;
    border-radius: 4px;
}

.the-group > div.active::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 55;
    opacity: 1;
}

.the-group > div img{
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
}

.detalis img{
    max-width: 100%;
}


.choices{
    display: flex;
    gap: 10px;
}
.atrubite h4{
    font-family: 'Fredoka One', cursive;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 16px;
    text-transform: capitalize;
    font-weight: 900;

}
.choices > div {
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: 0.4s;
    border-radius: 4px;
    padding: 8px;
    font-weight: 600;
}
.main-poster {
    width: 250px;
    height: 500px;
    max-width: 100%;
    object-fit: contain;
}
.choices > div.active{
    background-color: black;
    color: white;
} 

.price h4{
    font-family: 'Fredoka One', cursive;
    font-size: 26px;

    font-weight: 800;
}


.price h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
}


@media(max-width:767px){
    .show{
        grid-template-columns: 1fr ;

    }
    .the-group{
        flex-direction: row;
        order: 2;
    }

    .detalis{
        grid-template-columns: 1fr  ;


    }
    .main-poster{
        height: 350px;
    }
    .show .poster{
        text-align: center;
    }

}